body{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
}

header{
	background-color: #5b7989;
	display: flex;
	flex-flow: row wrap;
	border-radius: 10px 10px 0px  0px;
}

footer
{
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px  10px;
}

footer strong{
	font-size: 25px;
}

.contenido, .contenedor1, .contenedor2, #seccion{
	margin: 0;
	padding: 0;
	align-self: center;
}

.titulo, .barra, a:visited, a{
	color: white;
	text-shadow: 1px 1px 2px #02010a;
}



a:hover {
    text-decoration: underline;
    cursor: pointer;
}

figure{
	margin: 0;
}

#imagen2 img{
	transition-property: transform;
	transition-duration: 1s;
	border-image: 2px;
	width: 250px;
	box-shadow: 2px 2px;
	margin: 10px;
}

#imagen2 img:hover{
	transform: rotate(20deg);
}

#imagen3 img{
	transition-property: transform;
	transition-duration: 1s;
	width: 250px;
	box-shadow: 2px 2px;
	margin: 10px;
}

#imagen3 img:hover{
	transform: translate(10px,-3px);
	box-shadow: 0px 0px;
}

.contenedor1{
	background-color: #82c3a6;
}

.contenedor2, .contenedor_paisajes, .contenedor_retratos{
	background-color: #d5c75f;
}

.imagenp img{
	width: 250px;
	padding: 0px;
    margin: 10px;
    box-shadow: 2px 2px;
}

.imagenr img{
	width: 250px;
	padding: 0px;
    margin: 10px;
    box-shadow: 2px 2px;
}

#imagenp1 img{
	-webkit-filter: blur(10px);
    filter: blur(10px);
}

#imagenp2 img,#imagenp4 img,#imagenp6 img{
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#imagenp3 img{
	-webkit-filter: sepia(90%);
    filter: sepia(90%);
}

#imagenr1 img{
	-webkit-filter: blur(10px);
    filter: blur(10px);
}

#imagenr2 img,#imagenr4 img,#imagenr6 img{
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#imagenr3 img{
	-webkit-filter: sepia(90%);
    filter: sepia(90%);
}

figcaption { 
    display: block;
    text-align: center;
    text-decoration: underline;
    padding: 2px;
    margin: 2px;
}

/* tamaño de pantalla desktop */

@media (min-width: 900px){
	.titulo {
		width: 80%;
		margin-left: 20px;
	}
	.barra{
		width: 20%
		vertical-align: center;
		margin-top: auto;
		margin-bottom: auto;
	}

	.contenido{
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	#imagen1{
		text-align: center;
	}

	#imagen1 img{
	width: 450px;
	box-shadow: 2px 2px;
	margin: 10px;
	}

	.contenedor2{
		display: flex;
		flex-direction: row;
		align-items: center;
  		justify-content: center;
	}

	footer{
		display: flex;
		flex-direction: row;
	}
	.contenedor_paisajes{
		display: flex;
		flex-wrap:wrap;
		justify-content: center;

	}

	.contenedor_retratos{
		display: flex;
		flex-wrap:wrap;
		justify-content: center;

	}

	footer > div{
	
		padding: 10px;
		margin: 10px;
		width: 25%;
	}

}

/* tamaño de pantalla movil */

@media (max-width: 899px){
	.contenido, .titulo, .barra, .contenedor1, .contenedor2{
		width: 100%;
		text-align: center;
	}
	.titulo h1{
		margin-left: 20%;
		margin-right: 20%;
	}

	.barra{
		margin-bottom: 2%;
	}

	footer{
	display: flex;
	flex-direction: column;
	}
	
	footer > div{
	
		padding: 10px;
		margin: 10px;
		width: 100%;
	}

	#imagen1 img{
	width: 250px;
	box-shadow: 2px 2px;
	margin: 10px;
	}

}

/* Animacion del contenido global */

@-webkit-keyframes slide-in {
    0% {margin-top: 150px; }
    60% {margin-top: -5px; }
    100% {margin-top: 0px; }
}

@keyframes slide-in {
    0% {margin-top: 150px; }
    60% {margin-top: -5px; }
    100% {margin-top: 0px; }
}

header {
    animation: slide-in 1s;
    -webkit-animation: slide-in 1s;
}